/* ------------------------------ */
/* ----   PAGE PRESENTATION  ---- */
/* ------------------------------ */
.article {
    display: block;
    position: relative;

    background: white;
    border: 3px solid #EEEEEE;
    font-weight: bold;
    border-radius: 2.5px;

    transition: ease-in-out all .2s;
}

.article:hover,
.article.opened  { border-color: #3498db; }
.article.success { border-color: #27ae60; }
.article.error   { border-color: #c0392b; }

.article:hover .meta,
.article.opened .meta {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}
.article.success .meta { background-color: #27ae60; }
.article.error .meta   { background-color: #c0392b; }

.article .image {
    height: 150px;
}
.article .image img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.article .meta {
    display: block;
    position: relative;
    height: 60px;
    background: #EEE;
    padding: 10px 0;
    text-align: center;
    font-size: .85em;
    transition: ease-in-out all .2s;
    overflow: hidden;
}

.article .meta > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    transition: transform ease-in-out .2s;
}

.article .meta div.addtocart {
    transform: translateY(100%);
}

.article .meta div.addtocart svg.fa-cog {
    font-size: 2em;
    margin-top: 15px;
    display: none;

    width: 100%;
    text-align: center;
}

.article .meta div.addtocart .label {
    display: none;
    position: relative;
    font-size: 1.2em;
    line-height: 60px;
    text-transform: uppercase;
}

.article .meta:hover div.info,
.article.opened .meta div.info {
    transform: translateY(-100%);
}

.article .meta:hover div.addtocart,
.article.opened .meta div.addtocart {
    transform: translateY(0);
}

.article .meta div.info {
    padding-top: 8px;
}

.article .meta .price {
    color: red;
}

.article .meta:hover {

}

.article .meta .btn.shop-cart-add {
    display: block;
    position: relative;

    overflow: hidden;
    cursor: inherit;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    line-height: 60px;
    font-size: 1.1em;

    border: none;
    box-shadow: none;
    transition: width ease-in-out .2s, height ease-in-out .2s;
    z-index: 3;
}

.article .meta .btn.shop-cart-add .m-symb {
    color: white !important;
}

/* -------------------------- */
/* ----   BOUTON PANIER  ---- */
/* -------------------------- */
.btn {
    user-select: none;

    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 1px;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn .cart-header {
    cursor: pointer;
    padding: 0 18px;
}

.btn .cart-header .badge {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;

    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 25px;

    text-shadow: none;

    background: #e74c3c;
    border-radius: 50%;

    font-size: 14px;

    transition: ease-in-out .2s;
}

.btn.opened .cart-header .badge {
    opacity: 0;
    right: -10px;
}

.btn .m-symb {
    transition: ease-in-out .3s;
    margin-right: 5px;
    width: 20px;
}

.btn.opened .m-symb {
    width: 0;
    opacity: 0;
}

header section.upper .btn.shop-cart-summary {
    position: absolute;
    width: 200px;
    height: 45px;
    right: 15px;

    overflow: hidden;
    cursor: inherit;
    padding: 0;

    background: #F1C40F;
    transition: width ease-in-out .2s, height ease-in-out .2s;
    z-index: 3;
}

header section.upper .btn.shop-cart-summary.opened {
    width: 350px;
    height: 200px;
}

.btn.shop-cart-summary .cart-header {
    /* http://colorzilla.com/gradient-editor/#eda900+0,f1c40f+100 */
    background: #eda900;
    background: -moz-linear-gradient(left, #eda900 0%, #f1c40f 100%);
    background: -webkit-linear-gradient(left, #eda900 0%, #f1c40f 100%);
    background: linear-gradient(to right, #eda900 0%, #f1c40f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eda900', endColorstr='#f1c40f', GradientType=1);
}

.btn.shop-cart-summary .cart-header .balance {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 45px;

    top: 0;
    right: -20px;
    text-align: center;
    line-height: 45px;

    text-align: right;
    font-size: 16px;
    color: black;

    opacity: 0;

    transition: ease-in-out .2s;
}

.btn.shop-cart-summary.opened .cart-header .balance {
    opacity: 1;
    right: 18px;
}

.shop-cart-summary .cart-content {
    display: block;
    position: relative;

    width: 100%;
    height: calc(100% - 45px);
    overflow: hidden;
}

.shop-cart-summary .cart-content .cart-products {
    display: block;
    position: relative;
    width: 100%;
    height: 90px;

    overflow-x: hidden;
    overflow-y: auto;
}

.shop-cart-summary .cart-content .product {
    display: block;
    position: relative;
    padding: 6px 18px;

    left: 50px;
    opacity: 0;

    text-shadow: none;
    line-height: 20px;
    color: black;

    transition: .3s ease-in-out .1s;
}

.shop-cart-summary .cart-content .product .name {
    text-transform: none;
    width: 70%;
    float: left;
}

.shop-cart-summary .cart-content .product .qty {
    width: 10%;
    float: left;

    text-transform: none;
    font-size: .85em;
    color: black;
}

.shop-cart-summary .cart-content .product .price {
    width: 20%;
    text-align: right;
    float: left;
}

.shop-cart-summary .cart-content .product:first-child {
    padding-top: 10px;
}

.shop-cart-summary.opened .cart-content .product {
    opacity: 1;
    left: 0;
}

.shop-cart-summary .cart-content .button {
    position: absolute;
    bottom: 10px;

    text-shadow: none;
    font-weight: 600;
    line-height: initial;
    padding: 8px 16px;
    letter-spacing: .1em;

    text-transform: uppercase;

    background: #383838;
    color: white;

    font-size: .9em;
    opacity: 0;
    right: -50px;

    transition: background .2s ease-out,
    opacity .3s ease-in-out .1s,
    right .3s ease-in-out .1s;
}

.shop-cart-summary .cart-content .button:hover {
    background: #212121;
}

.shop-cart-summary.opened .cart-content .button {
    opacity: 1;
    right: 18px;
}

/* ----------------------------- */
/* ----   BOUTON COMMANDES  ---- */
/* ----------------------------- */
header section.upper .btn.shop-order-summary {
    position: absolute;
    width: 230px;
    height: 45px;
    right: 230px;

    overflow: hidden;
    cursor: inherit;
    padding: 0;

    background: black;
    z-index: 3;
}

.btn.shop-order-summary .cart-header {
    /* http://colorzilla.com/gradient-editor/#16a085+0,1abc9c+100 */
    background: #16a085; /* Old browsers */
    background: -moz-linear-gradient(top, #16a085 0%, #1abc9c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #16a085 0%, #1abc9c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #16a085 0%, #1abc9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16a085', endColorstr='#1abc9c', GradientType=0); /* IE6-9 */
}

/* -------------------- */
/* ----   GENERAL  ---- */
/* -------------------- */
.content-top-group {
    background: #EEE;
    padding: 40px 0;

    border-bottom: 10px solid #DDD;
}

.content-top-group.primary-group {
    text-align: center;
}

.content-top-group h1,
.content-top-group h2 {
    color: #383838;
    text-transform: uppercase;
}

.content-top-group h1 b,
.content-top-group h2 b {
    display: block;
    font-size: 1.6em;
}

.content-top-group p {
    color: #383838;
}

/* --------------------------- */
/* ----   PAGE DU PANIER  ---- */
/* --------------------------- */
h1.title {
    color: #383838;
}

h3.subtitle {
    display: inline-block;
    width: auto;
    color: white;
    /*background: #2980b9;*/
    background: #F1C40F;

    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 1.1em;

    margin: 10px auto;
    padding: 5px 12px;

    text-shadow: rgba(0, 0, 0, .3) 0 1px 1px;
}

hr {
    width: 100%;
    height: 3px;
    background: #ddd;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wrap-inner.content {
    background: white;
    color: black;
    min-height: calc(100% - 358px - 112px);
    padding: 40px;
}

table.products {
    position: relative;
    width: 100%;
    height: auto;

    margin-top: 20px;
    color: black;
}

table.products thead {
    background: #DEDEDE;
    border: none;
}

table.products thead tr th {
    text-align: center;
    padding: 10px 0;
    color: #111;
    font-size: .8em;
    font-weight: bold;
}

table.products thead tr th:nth-child(2),
table.products thead tr th:nth-child(3) {
    text-align: center;
}

table.products thead tr th:last-child {
    width: 40px;
}

table.products thead tr th:nth-child(1) {
    width: 400px;
}

table.products tbody tr:nth-child(2n) {
    background: #F4F8F9;
}

table.products tbody tr td {
    height: 40px;
}

table.products tbody tr td:first-child {
    padding-left: 15px;
}

table.products tbody tr td:last-child {
    text-align: center;

    font-size: .9em;
    color: #e74c3c;
}

table.products tbody tr td:last-child svg.remove {
    transition: ease-out .1s;
}

table.products tbody tr td:last-child svg.remove:hover {
    transform: scale(1.2) rotate(5deg);
    cursor: pointer;
    color: #c0392b;
}

table.products tbody tr td a {
    color: #000000;
    text-decoration: none;
}

table.products tbody tr td a:hover {
    text-decoration: underline;
}

table.products tbody tr td[qty-selector] {
    user-select: none;
}

table.products tbody tr td .cat {
    display: inline-block;
    position: relative;

    width: auto;
    font-size: .8em;
    font-weight: bold;

    color: white;
    padding: 2px 5px;
    border-radius: 2px;
}

table.products tbody tr td .cat.booster {
    background: #3498db;
}

table.products tbody tr td .cat.grade {
    background: #f1c40f;
}

table.products tbody tr td input[type="number"] {
    height: 30px;
    background: #FFF;
    border: 3px solid #DDD;
    text-align: center;
    width: 50px;

    font-size: .9em;
}

table.products tbody tr td.c {
    text-align: center;
}

table.products tbody tr td .btn {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    top: 7.5px;
    right: 15px;

    text-align: center;
    line-height: 25px;

    font-size: .7em;
    color: white;

    transition: ease-out .2s;
}

table.products tbody tr td .btn.hidden {
    opacity: 0;
}

table.products tbody tr td .btn.hidden:hover {
    cursor: initial;
}

table.products tbody tr td .btn:hover {
    cursor: pointer;
}

table.products tbody tr td .btn.btn-minus,
table.products tbody tr td .btn.btn-plus {
    right: initial;
    top: initial;
    background: #9b59b6;
    font-size: .6em;
}

table.products tbody tr td .btn.btn-plus {
    left: 10px;
}

table.products tbody tr td .btn.btn-minus {
    right: 10px;
}

table.products tbody tr td .btn.btn-minus:hover,
table.products tbody tr td .btn.btn-plus:hover {
    background: #8e44ad;
}

table.products tbody tr td .btn.rm-btn {
    background: #e74c3c;
}

table.products tbody tr td .btn.rm-btn:hover {
    background: #c0392b;
}

.basket-action-container .promo-form {
    position: relative;
    width: 225px;
    height: 40px;
    margin-top: 35px;
}

.basket-action-container .promo-form input {
    float: left;
}

.basket-action-container .promo-form input[type="text"] {
    width: 185px;
    height: 100%;
    border: 3px solid #cecece;
    border-radius: 3px;
    border-right: none;
    padding-left: 5px;
    outline: none;
    font-size: .9em;
}

.basket-action-container .promo-form.error input,
.basket-action-container .promo-form.error button {
    border-color: #c0392b;
}

.basket-action-container .promo-form.success input,
.basket-action-container .promo-form.success button {
    border-color: #219953;
    background: #27ae60 !important;
    color: #FFF !important;
}

.basket-action-container .promo-form button {
    width: 40px;
    height: 100%;
    margin-left: -2px;
    border: 3px solid #cecece;
    background-color: #DDD;
    font-size: 1.3em;
    outline: none;

    transition: ease-in-out .1s;
}

.basket-action-container .promo-form button:hover {
    background: #CECECE;
    padding-left: 10px;
    cursor: pointer;
    color: #111;
}

.basket-action-container .promo-form button.loading {
    background: #CECECE !important;
    color: #383838;
    padding-left: 0 !important;
    cursor: progress !important;
    line-height: 30px;
    font-size: .75em;
}

.basket-action-container .promo-form button.success {
    padding-left: 0 !important;
    cursor: initial !important;
    line-height: 30px;
    font-size: .75em;
}

.basket-action-container .promo-form + span.error {
    display: none;
    font-weight: bold;
    font-size: .7em;
    color: #c0392b;
}

.basket-action-container table.total {
    width: 500px;
    float: right;

    margin-top: 25px;
    line-height: 40px;
    font-size: .9em;

    color: black;
}

.basket-action-container table.total tr:nth-child(2n+1) {
    background: #F4F8F9;
}

.basket-action-container table.total tr td {
    position: relative;
    padding: 0 15px;
}

.basket-action-container table.total tr td:last-child {
    text-align: right;
}

.basket-action-container table.total tr:last-child {
    height: 20px;
    width: 100%;
    background: #DDD;
}

.basket-action-container table.total tr.promo span.code {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
    background: #c0392b;
    color: white;
    padding: 2px 5px;
}

.basket-action-container table.total tr.promo span.rm-code {
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    right: 15px;
    top: 8.5px;
    background: #F5F5F5;
    border-radius: 50%;

    text-align: center;
    line-height: 25px;
    font-size: .8em;
    cursor: pointer;

    transition: ease-in-out .2s;
}

.basket-action-container table.total tr.promo span.rm-code:hover {
    transform: scale(1.1);
    background: #DDD;
}

.basket-action-container table.total tr.promo td:last-child {
    color: #c0392b;
    font-weight: bold;
}

.basket-action-container table.total tr.promo.hidden,
.basket-action-container table.total tr.promo.hidden + tr {
    display: none;
}

.basket-action-container table.total tr.b {
    font-weight: bold;
}

.basket-container .confirm-container {
    display: block;
    position: relative;
    margin: 30px 0;

    font-size: .9em;
    text-align: center;
}

.basket-container .confirm-container .warn-message {
    padding: 15px;
    line-height: 1.2em;
    margin: 15px 0;
    color: #FFF;
    background-color: #e74c3c;
    border-left: none;
    text-align: center;
}

.basket-container .submit,
.payment-container .submit {
    display: block;
    position: relative;

    width: 200px;
    height: 50px;
    margin: 15px auto;

    background-color: #27ae60;
    color: #FFF;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;

    transition: ease-out .2s;
    outline: none;
    border: none;
}

.basket-container .submit:hover,
.payment-container .submit:hover {
    cursor: pointer;
    background: #219953;

    transform: scale(1.01);
    box-shadow: 0 3.5px 7px rgba(0,0,0,0.25), 0 2.5px 2.5px rgba(0,0,0,0.22);
}

/* ------------------------------ */
/* ----   PAGES DE PAIEMENT  ---- */
/* ------------------------------ */
.login-form {
    text-align: left;
    margin-top: 20px;
}

.login-form .input {
    margin-top: 15px;
}

.login-form .input label {
    color: #383838;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;

    height: 40px;
    line-height: 40px;
}

.login-form .input input {
    border: 2px solid #DDD;
    font-size: .8em;
    color: #333;

    padding: 0 10px;
    height: 40px;

    transition: border-color ease-out .1s;
}

.login-form .input input:focus {
    border-color: #AAA;
    color: #111;
}

.login-form .input.error input {
    color: #c0392b;
    border-color: #c0392b;
}

.login-form .input button {
    height: 35px;
    line-height: 35px;

    text-transform: uppercase;
    background: #2ecc71;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
    color: white;

    transition: ease-out .2s;
}

.login-form .input button:hover {
    background: #27ae60;
}

.login-form .links {
    text-align: right;
    margin-top: 10px;
    color: #666;
}

.login-form .links a {
    color: #2980b9;
    font-size: .75em;
}

.login-form .links a:hover {
    text-decoration: underline;
}

p.error {
    padding: 0;
    font-size: .8em;
    font-weight: bold;
    color: #c0392b;
}

.payment-means {
    margin: 40px 0;
}

.payment-means .payment-mean {
    height: 160px;
    background: #DDD;
}

.payment-means .payment-mean:hover {
    transform: scale(1.05);
    cursor: pointer;
    background: #CCC;
    box-shadow: 0 3.5px 7px rgba(0,0,0,0.25), 0 2.5px 2.5px rgba(0,0,0,0.22);
}

.payment-means .payment-mean.selected {
    background: #f1c40f !important;
    transform: scale(1.05);
    box-shadow: 0 3.5px 7px rgba(0,0,0,0.25), 0 2.5px 2.5px rgba(0,0,0,0.22);
}

.payment-means .payment-mean .image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    background: no-repeat center center;
    background-size: 90%;
}

.payment-means .payment-mean.paypal      .image { background-image: url(     "../img/payment/paypal.png"); }
.payment-means .payment-mean.cb          .image { background-image: url(         "../img/payment/cb.png"); }
.payment-means .payment-mean.paysafecard .image { background-image: url("../img/payment/paysafecard.png"); }
.payment-means .payment-mean.youpass     .image { background-image: url(    "../img/payment/youpass.png"); }

.payment-recap {
    display: block;
    position: relative;
    margin: 30px 0;
    width: 100%;
}

.payment-recap table {
    width: 100%;
    background: #DDD;
    border-collapse: collapse;
}

.payment-recap table tr { border-bottom: 2px solid #BBB; }
.payment-recap table tr.promocode { background: #e0b61f; color: white; border-color: #eda900 }

.payment-recap table tr:last-child {
    border: none;
    background: #2980b9;
    color: white;
}

.payment-recap table td:first-child {
    padding: 5px 10px;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    width: 250px;
}
.payment-recap table td:last-child {
    text-align: center;
    font-size: .8em;
    color: #383838;
    background: #EEE;
}

.payment-recap table tr.promocode  td:last-child { background: #f1c40f; color: white; }
.payment-recap table tr:last-child td:last-child { background: #3498db; color: white; }

.payment-recap-loader {
    margin: 20px 0;
    font-size: 4em;
    color: #8e44ad;
    text-align: center;
}

.payment-container a.error .btn.submit {
    background: #c0392b;
    transform: scale(1);
    cursor: no-drop;
    box-shadow: none;
}

.yes-gif {
    display: block;
    position: relative;
    width: 500px;
    margin: 20px auto;
}

/* --------------------------- */
/* ----   PAGES COMMANDE  ---- */
/* --------------------------- */
.orders .order {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    background: #EEE;
    padding: 15px;
    margin: 25px 0;
}

.orders .order .icon {
    display: block;
    position: relative;
    width: 150px;
    height: 120px;
    margin-right: 15px;

    font-size: 4em;
    text-align: center;
    line-height: 120px;
    color: rgba(0,0,0,.5);

    float: left;
}

.orders .order .meta {
    width: calc(100% - 165px);
    float: left;
}

.orders .order .meta h3 {
    float: left;
    font-size: 1.2em;
}

.order-status {
    display: block;
    float: left;

    font-weight: 900;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 2px 20px;
    font-size: .8em;
    color: #eee;
}

.order-status.unpaid { background: #c0392b; }
.order-status.paid   { background: #27ae60; }

.orders .order .date {
    color: #383838;
    font-weight: bold;
    font-size: .7em;

    margin-bottom: 10px;
}

.orders .order .description {
    font-size: .8em;
}

.orders .order .price .amount,
.orders .order .price .promocode {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
}

.orders .order .price .amount {
    font-size: 1.8em;
}

.orders .order .price .promocode {
    top: 60px;
}

.orders .order .btn {
    display: block;
    position: relative;
    height: 40px;

    line-height: 40px;
    text-align: center;
}

.orders .order .btn.pay-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 150px;
    text-transform: uppercase;

    background: #27ae60;
    color: white;
}

.orders .order .btn:hover {
    transform: scale(1.01);
    box-shadow: 0 3.5px 7px rgba(0,0,0,0.25), 0 2.5px 2.5px rgba(0,0,0,0.22);
}